body {
    display:  flex;
    justify-content: center;
    flex-direction: column;
}

.changeGrid {
    align-self: center;
    width: 140px;
    padding: 4px 15px;
    flex-grow: 0;
    margin: 20px 0px;
}